@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .highlightedMainColorText {
    @apply selection:bg-mainColor selection:text-white;
  }

  .highlightedText {
    @apply selection:bg-black selection:text-white;
  }
}

body {
  font-display: swap;
}

td,
th {
  padding: 16px;
  border: 1px solid #f47920;
  text-align: center;
  width: 50%;
  font-weight: 500;
}

img {
  display: block;
  height: auto;
}
